body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  transition: background 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;
}
